body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.App {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.main-recommendation {
    flex: 2;
    margin-right: 20px;
}

.additional-recommendations {
    flex: 1;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

select, input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin: 10px 0;
}

p strong {
    color: #333;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 10px;
}

.recommendation {
    text-align: center;
}

.recommendation p {
    margin: 5px 0;
}

/* 추가된 스타일 */
.additional-recommendations {
    text-align: center;
}

.additional-recommendations h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.small-recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    max-height: 400px; /* 조정 가능 */
}

.small-recommendation {
    width: 100%;
    margin: 10px 0;
}

.small-poster {
    border-radius: 4px;
    width: 100%;
    height: auto;
}

.small-recommendation p {
    font-size: 14px;
    color: #555;
    margin: 10px 0 0;
}
