:root {
    --primary-color: #4EA685;
    --secondary-color: #57B894;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

h2 {
    font-size: 2.5rem; /* 제목 폰트 크기 */
    color: var(--white);
    margin: 0; /* 상단과 하단 여백 제거 */
    text-align: center;
    font-weight: 700; /* 제목 두껍게 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* 텍스트 그림자 */
}

p {
    font-size: 1.2rem; /* 문구 폰트 크기 */
    color: var(--white);
    text-align: center;
    max-width: 400px; /* 문구 폭 제한 */
    margin: 0 auto 1.5rem; /* 상단 여백 0, 하단 여백 1.5rem */
    font-weight: 400; /* 문구 기본 두께 */
    line-height: 1.5; /* 줄 간격 조정 */
}

form {
    width: 100%;
    max-width: 800px; /* 폼의 최대 너비 */
    padding: 2rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    margin-top: 1rem;
    box-sizing: border-box;
    transform: translateX(280px);
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.input-wrap {
    flex: 1 1 calc(50% - 1rem);
    margin-bottom: 1rem;
}

.input-wrap label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--black); /* 레이블 색상 */
}

.input-wrap input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gray);
    outline: none;
    transition: border-color 0.3s, transform 0.3s;
}

.input-wrap input:focus {
    border-color: var(--primary-color);
    transform: scale(1.02);
}

input[type="button"] {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: var(--secondary-color);
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--secondary-color);
}

@media only screen and (max-width: 768px) {
    .input-wrap {
        flex: 1 1 100%;
    }
}
