<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">

    <title>정보 수정</title>

    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="stylesheet" th:href="@{/css/plugin.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" th:href="@{/css/change.css}">
</head>
<body>

    <header class="basic-N1" data-bid="kNlY6uYvo7" id="">
        <div class="header-inner">
          <div class="header-container container-lg">
            <h1 class="header-title">
              <a href="/">
                <img th:src="@{/images/Logo.png}" alt="" style="width: 200px; height: 150px; margin-top: -55px;">
              </a>
            </h1>
            <div class="header-center">
              <div class="header-title header-mobile-top">
                <a href="javascript:void(0)">
                  <img th:src="@{/images/Logo.png}" alt="로고">
                </a>
              </div>
              <ul class="header-gnblist">
                <li class="header-gnbitem">
                    <a class="header-gnblink protected-feature" href="/members/eat">
                        <span>뭐먹지</span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink protected-feature" href="/members/wear">
                        <span>뭐입지</span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink protected-feature" href="/members/watch">
                        <span>뭐볼까</span>
                    </a>
                </li>
                <li class="header-gnbitem item-active">
                    <a class="header-gnblink" href="/board/list">
                      <span>공지사항</span>
                    </a>
                </li>
            </ul>
            </div>
            <div class="header-right">
              <a class="header-gnblink" id="login-link" href="/members/login" style="display: none;">
                <span id="login_user_greeting">로그인/회원가입</span>
              </a>
              <a class="header-gnblink" id="logout-link" href="javascript:void(0)" onclick="toggleProfilePanel()" style="display: none;">
                <span id="logout_user_greeting">환영합니다, 사용자님</span>
              </a>
            </div>    
            </div>
          </div>
        </div>
        <div class="header-dim"></div>
      </header>

    <main class="container">
        <h1>정보 수정</h1>
        <form id="changeForm">
            <input type="hidden" id="id" name="id" th:value="${member.mnum}">
            <div class="form-group">
                <label for="mname">이름</label>
                <input type="text" class="form-control" id="mname" name="mname" th:value="${member.mname}">
            </div>
            <div class="form-group">
                <label for="mnick">닉네임</label>
                <input type="text" class="form-control" id="mnick" name="mnick" th:value="${member.mnick}">
            </div>
            <div class="form-group">
                <div class="form-inline">
                    <label for="mbirth">생년월일</label>
                    <input type="date" class="form-control" id="mbirth" name="mbirth" th:value="${member.mbirth}">
                </div>
                <div class="form-inline">
                    <label for="mgender">성별</label>
                    <select class="form-control" id="mgender" name="mgender" th:field="*{member.mgender}">
                        <option value="M" th:selected="${member.mgender == 'M'}">남성</option>
                        <option value="F" th:selected="${member.mgender == 'F'}">여성</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="mhp">전화번호</label>
                <input type="text" class="form-control" id="mhp" name="mhp" th:value="${member.mhp}">
            </div>
            <div class="form-group">
                <label for="mzonecode">우편번호</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="mzonecode" name="mzonecode" th:value="${member.mzonecode}" readonly>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" onclick="sample4_execDaumPostcode()">우편번호 찾기</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="mroad">도로명 주소</label>
                <input type="text" class="form-control" id="mroad" name="mroad" th:value="${member.mroad}" readonly>
            </div>
            <div class="form-group">
                <label for="mroaddetail">상세 주소</label>
                <input type="text" class="form-control" id="mroaddetail" name="mroaddetail" th:value="${member.mroaddetail}">
            </div>
            <div class="form-group">
                <label for="mjibun">지번 주소</label>
                <input type="text" class="form-control" id="mjibun" name="mjibun" th:value="${member.mjibun}" readonly>
            </div>
            <button type="submit" class="btn btn-primary">수정하기</button>
        </form>
    </main>

    <footer class="basic-N4" data-bid="vPlY6uYwl2" id="">
        <div class="footer-inner">
          <div class="footer-container container-lg">
            <div class="footer-top">
              <h1 class="footer-logo">
              </h1>
              <ul class="footer-menulist">
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>이용약관</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>개인정보처리방침</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>KOSMO</span>
                  </a>
                </li>
              </ul>
              <ul class="footer-snslist">
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_instagram_lightgrey.svg}" alt="인스타그램">
                  </a>
                </li>
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_youtube_lightgrey.svg}" alt="유튜브">
                  </a>
                </li>
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_facebook_lightgrey.svg}" alt="페이스북">
                  </a>
                </li>
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_kakao_lightgrey.svg}" alt="카카오톡">
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-bottom">
              <div class="footer-txt">
                <p> 서울시 금천구 가산동 한라원엔원 307호 </p>
                <p>
                  <span>T. 070-8872-8874</span>
                  <span>E. help@openfield.co.kr</span>
                </p>
              </div>
              <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <script th:src="@{/js/setting.js}"></script>
    <script th:src="@{/js/plugin.js}"></script>
    <script th:src="@{/js/template.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <script th:src="@{/js/login.js}"></script>

    <script>
        $(document).ready(function() {
            $('#changeForm').submit(function(event) {
                event.preventDefault();
                const formData = {
                    mnum: $('#mnum').val(),
                    mname: $('#mname').val(),
                    mnick: $('#mnick').val(),
                    mbirth: $('#mbirth').val(),
                    mgender: $('#mgender').val(),
                    mhp: $('#mhp').val(),
                    mzonecode: $('#mzonecode').val(),
                    mroad: $('#mroad').val(),
                    mroaddetail: $('#mroaddetail').val(),
                    mjibun: $('#mjibun').val()
                };
                
                $.ajax({
                    url: '/api/members/change',
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function(response) {
                        sessionStorage.setItem('loggedInUser', JSON.stringify(response));
                        sessionStorage.setItem('mnick', response.mnick);
                        Swal.fire({
                            title: '수정 완료',
                            text: '정보가 성공적으로 수정되었습니다.',
                            icon: 'success'
                        }).then(() => {
                            location.href = '/members/mypage';
                        });
                    },
                    error: function(xhr) {
                        Swal.fire({
                            title: '수정 실패',
                            text: xhr.responseText,
                            icon: 'error'
                        });
                    }
                });
            });
        });

        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    var roadAddr = data.roadAddress;
                    var extraRoadAddr = '';

                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    document.getElementById('mzonecode').value = data.zonecode;
                    document.getElementById("mroad").value = roadAddr;
                    document.getElementById("mjibun").value = data.jibunAddress;

                    if (roadAddr !== '') {
                        document.getElementById("mroaddetail").value = extraRoadAddr;
                    } else {
                        document.getElementById("mroaddetail").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    }
                }
            }).open();
        }
     </script>
</body>
</html>
