<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="imagetoolbar" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="웹사이트">
    <meta name="description" content="웹사이트입니다.">
    <meta name="keywords" content="키워드,키워드,키워드">
    <meta property="og:title" content="웹사이트">
    <meta property="og:description" content="웹사이트입니다">
    <meta property="og:image" content="https://웹사이트/images/opengraph.png">
    <meta property="og:url" content="https://웹사이트">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="stylesheet" th:href="@{/css/plugin.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="/css/findPassword.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>

    <!-- Bootstrap CSS CDN -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

    <header class="basic-N1" data-bid="kNlY6uYvo7" id="">
        <div class="header-inner">
          <div class="header-container container-lg">
            <h1 class="header-title">
              <a href="/">
                <img th:src="@{/images/Logo.png}" alt="" style="width: 200px; height: 150px; margin-top: -55px;">
              </a>
            </h1>
            <div class="header-center">
              <div class="header-title header-mobile-top">
                <a href="javascript:void(0)">
                  <img th:src="@{/images/Logo.png}" alt="로고">
                </a>
              </div>
              <ul class="header-gnblist">
                <li class="header-gnbitem">
                  <a class="header-gnblink" href="http://127.0.0.1:5000/eat">
                    <span>뭐먹지</span>
                  </a>
                </li>
                <li class="header-gnbitem">
                  <a class="header-gnblink" href="javascript:void(0)">
                    <span>뭐입지</span>
                  </a>
                </li>
                <li class="header-gnbitem">
                  <a class="header-gnblink" href="http://127.0.0.1:5000/watch">
                    <span>뭐볼까</span>
                  </a>
                </li>
                <li class="header-gnbitem item-active">
                  <a class="header-gnblink" href="javascript:void(0)">
                    <span>고객센터</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="header-right">
              <a class="header-gnblink" id="login-link" href="/members/login" style="display: none;">
                <span id="login_user_greeting">로그인/회원가입</span>
              </a>
              <a class="header-gnblink" id="logout-link" href="javascript:void(0)" onclick="toggleProfilePanel()" style="display: none;">
                <span id="logout_user_greeting">환영합니다, 사용자님</span>
              </a>
            </div>   
            </div>
          </div>
        </div>
        <!-- 프로필 패널 -->
        <div id="profile-panel"  class="profile-panel">
          <button class="edit-btn" onclick="editProfile()">내정보 조회</button>
          <button class="logout-btn" id="logout-button">로그아웃</button>
        </div>
        <div class="header-dim"></div>
      </header>

      <main>
        <div class="d-flex justify-content-center mx-5">
            <div class="col-10 pt-3 mb-5 d-flex justify-content-center">
                <div>
                    <div>
                        <h2>비밀번호 찾기</h2>
                    </div>
                    <br>
                    <h6>가입시 등록하신 성함과 아이디(이메일)를 입력하시면, 이메일로 임시 비밀번호를 전송해드립니다.</h6>
                    <br>
                    <form id="formId">                
                        <p>아이디(이메일)</p>
                        <div>
                            <input type="email" name="fdmid" id="fdmid" placeholder="가입하신 아이디(이메일) 주소">
                            <button type="button" id="emailCheckBtn" class="btn btn-outline-dark mb-3 btn-sm">전송</button>
                        </div>
                        <div id="emailCheckWarn" class="form-text"></div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer class="basic-N4" data-bid="vPlY6uYwl2" id="">
        <div class="footer-inner">
          <div class="footer-container container-lg">
            <div class="footer-top">
              <h1 class="footer-logo">
              </h1>
              <ul class="footer-menulist">
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>이용약관</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>개인정보처리방침</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>KOSMO</span>
                  </a>
                </li>
                <li class="footer-menuitem">
                  <a href="javascript:void(0)">
                    <span>HAHA</span>
                  </a>
                </li>
              </ul>
              <ul class="footer-snslist">
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_instagram_lightgrey.svg}" alt="인스타그램">
                  </a>
                </li>
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_youtube_lightgrey.svg}" alt="유튜브">
                  </a>
                </li>
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_facebook_lightgrey.svg}" alt="페이스북">
                  </a>
                </li>
                <li class="footer-snsitem">
                  <a class="footer-snslink" href="javascript:void(0)">
                    <img th:src="@{../static/icons/ico_kakao_lightgrey.svg}" alt="카카오톡">
                  </a>
                </li>
              </ul>
            </div>
            <div class="footer-bottom">
              <div class="footer-txt">
                <p> 서울시 금천구 가산동 한라원엔원 307호 </p>
                <p>
                  <span>T. 070-8872-8874</span>
                  <span>E. help@openfield.co.kr</span>
                </p>
              </div>
              <div class="footer-txt">
                <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <script>
        const emailCheckBtn = document.getElementById('emailCheckBtn');
        const findPwdBtn = document.getElementById('findPwdBtn');

        emailCheckBtn.addEventListener("click", function(){
            const fdmid = document.getElementById('fdmid').value;

            $.ajax({
                url:"/api/find/password",
                data: {"mid": fdmid},
                success: (data)=>{
                    if(data === 'true') {
                        document.getElementById('emailCheckWarn').innerText = '임시 비밀번호가 발송되었습니다.';
                        document.getElementById('emailCheckWarn').style.color = "black";
                    } else if(data === 'error') {
                        document.getElementById('emailCheckWarn').innerText = '임시 비밀번호 발송에 실패하였습니다.';
                        document.getElementById('emailCheckWarn').style.color = "red";
                    } else {
                        document.getElementById('emailCheckWarn').innerText = '아이디(이메일)를 다시 확인해주세요.';
                        document.getElementById('emailCheckWarn').style.color = "red";
                    }
                },
                error: (error)=>{
                    document.getElementById('emailCheckWarn').innerText = '임시 비밀번호 발송에 실패하였습니다.';
                    document.getElementById('emailCheckWarn').style.color = "red";
                }
            });
        });

        findPwdBtn.addEventListener("click", function(){
            alert("이메일 인증을 완료해주세요!");
        });
    </script>

<!-- [E]basic-N4 -->
<script th:src="@{/js/setting.js}"></script>
<script th:src="@{/js/plugin.js}"></script>
<script th:src="@{/js/template.js}"></script>
<script th:src="@{/js/common.js}"></script>
<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/login.js}"></script>

</body>
</html>
