<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>첫페이지 | 기본</title>
  <link rel="stylesheet" th:href="@{/css/setting.css}">
  <link rel="stylesheet" th:href="@{/css/plugin.css}">
  <link rel="stylesheet" th:href="@{/css/template.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
  <script>
    function editProfile() {
      location.href = '/members/mypage';
    }
  </script>
</head>

<body>
  <!-- [S]basic-N1 -->
  <header class="basic-N1" data-bid="kNlY6uYvo7" id="">
    <div class="header-inner">
      <div class="header-container container-lg">
        <h1 class="header-title">
          <a href="javascript:void(0)">
            <img th:src="@{/icons/ico_user_black.svg}" alt="">
          </a>
        </h1>
        <div class="header-center">
          <div class="header-title header-mobile-top">
            <a href="javascript:void(0)">
              <img th:src="@{/icons/ico_logo_black.svg}" alt="로고">
            </a>
          </div>
          <ul class="header-gnblist">
            <li class="header-gnbitem">
              <a class="header-gnblink" href="http://127.0.0.1:5000/eat">
                <span>뭐먹지</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>뭐입지</span>
              </a>
            </li>
            <li class="header-gnbitem">
              <a class="header-gnblink" href="http://127.0.0.1:5000/watch">
                <span>뭐볼까</span>
              </a>
            </li>
            <li class="header-gnbitem item-active">
              <a class="header-gnblink" href="javascript:void(0)">
                <span>고객센터</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <a class="header-gnblink" id="login-link" href="/members/login" style="display: none;">
            <span id="login_user_greeting">로그인/회원가입</span>
          </a>
          <a class="header-gnblink" id="logout-link" href="javascript:void(0)" onclick="toggleProfilePanel()" style="display: none;">
            <span id="logout_user_greeting">환영합니다, 사용자님</span>
          </a>
        </div>   
        </div>
      </div>
    </div>
    <!-- 프로필 패널 -->
    <div id="profile-panel"  class="profile-panel">
      <button class="edit-btn" onclick="editProfile()">내정보 조회</button>
      <button class="logout-btn" id="logout-button">로그아웃</button>
    </div>
    <div class="header-dim"></div>
  </header>
  <!-- [E]basic-N1 -->
  <main class="th-layout-main ">
    <!-- [S]basic-N5 -->
    <div class="basic-N5" data-bid="ChLY6uYVRZ" id="">
      <div class="contents-container">
        <div class="contents-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="contents-backimg img-pc" src="https://images.pexels.com/photos/1099680/pexels-photo-1099680.jpeg" alt=""><img class="contents-backimg img-mobile" th:src="@{/images/img_mainvisual_mobile_01.png}" alt="모바일 배너 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">오늘 뭐먹지?</h2>
                  <p class="textset-desc" style="color: rgb(255, 255, 255); font-weight: 700;">주변 모든 맛집 정보를 ​<br>당신에게 맞춰서 추천드립니다.</p>
                </div><a class="btnset btnset-round" href="javascript:void(0)">자세히보기</a>
              </div>
            </div>
            <div class="swiper-slide"><img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1618193139062-2c5bf4f935b7?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfHNlYXJjaHw1NHx8dHZ8a298MHx8fHwxNzIwMDc1NzI3fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt=""><img class="contents-backimg img-mobile" th:src="@{/images/img_mainvisual_mobile_01.png}" alt="모바일 배너 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">오늘 뭐 볼까?</h2>
                  <p class="textset-desc" style="color: rgb(255, 255, 255); font-weight: 700;">당신의 취향을 ​<br>당신에게 맞춰서 추천 드립니다.</p>
                </div><a class="btnset btnset-round" href="javascript:void(0)">자세히보기</a>
              </div>
            </div>
            <div class="swiper-slide"><img class="contents-backimg img-pc" src="https://images.unsplash.com/photo-1484502249930-e1da807099a5?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfHNlYXJjaHw3fHxmYXNzaW9ufGtvfDB8fHx8MTcyMDA3NzA2M3ww&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt=""><img class="contents-backimg img-mobile" th:src="@{/images/tv.jpg}" alt="모바일 배너 이미지">
              <div class="contents-slide-group container-md">
                <div class="textset textset-visual">
                  <h2 class="textset-tit">오늘 뭐 입지?</h2>
                  <p class="textset-desc" style="color: rgb(255, 255, 255); font-weight: 700;">당신의 선택에 맞춰서​<br>당신에게 추천 드립니다.</p>
                </div><a class="btnset btnset-round" href="javascript:void(0)">자세히보기</a>
              </div>
            </div>
          </div>
          <div class="contents-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-pause"><img th:src="@{/icons/ico_pause_white.svg}" alt="스와이퍼 멈춤버튼"></div>
            <div class="swiper-button-play"><img th:src="@{/icons/ico_play_white.svg}" alt="스와이퍼 재생버튼"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N5 -->
    <!-- [S]basic-N6 -->
    <div class="basic-N6" data-bid="ZMlY6UYvYh" id="">
      <div class="contents-container container-md">
        <div class="textset">
          <h2 class="textset-tit">EasyPick</h2>
          <p class="textset-desc"> "선택하기 어려운 당신을 위한 손쉬운 선택" <br> 복잡하게 고민하지 말고, 여기서 간단하게 골라보세요! </p>
        </div>
      </div>
    </div>
    <!-- [E]basic-N6 -->
    <!-- [S]basic-N7 -->
    <div class="basic-N7" data-bid="Oely6UYw35" id="">
      <div class="contents-container">
        <div class="videoset container-md">
          <video class="videoset-video" loop="">
            <source th:src="@{/medias/ai.mp4}">
          </video>
          <div class="videoset-body">
            <button class="videoset-play">
              <img th:src="@{/icons/ico_video_play.svg}" alt="플레이버튼">
            </button>
          </div>
        </div>
        <div class="contents-bottom">
          <div class="textset container-md">
            <h2 class="textset-tit">FOR THE BETTER CHOICE</h2>
            <p class="textset-desc">"오늘 뭐 먹을지, 뭘 입을지, 뭘 볼지 고민이신가요? EasyPick에서 간편하게 가장 적합한 선택지를 제시합니다."</p>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N7 -->
    <!-- [S]basic-N8 -->
    <div class="basic-N8" data-bid="AoLY6uyW6e" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">FOR YOU</h2>
          </div>
          <div class="contents-group">
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="https://images.unsplash.com/photo-1684369585053-2b35888b3ae8?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfHNlYXJjaHw0N3x8QUl8a298MHx8fHwxNzIwMDc4Mjk3fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt="">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">가장 과학적이고 논리적으로</h5>
                <p class="cardset-desc"> 빅데이터와 AI를 활용하여 과학적이고 논리적인 선택을 돕습니다. 방대한 데이터를 분석해 최적의 결정을 내릴 수 있도록 지원합니다. 이를 통해 더 정확하고 신뢰할 수 있는 선택을 경험할 수 있습니다. </p>
              </div>
            </div>
            <div class="cardset">
              <figure class="cardset-figure">
                <img class="cardset-img" src="https://images.unsplash.com/photo-1530021232320-687d8e3dba54?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfHNlYXJjaHw1MXx8SEFQUFl8a298MHx8fHwxNzIwMDc4NDAxfDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt="">
              </figure>
              <div class="cardset-body">
                <h5 class="cardset-tit">당신의 행복을 위해</h5>
                <p class="cardset-desc"> "복잡한 취향 분석도 EasyPick과 함께라면 문제없습니다. 빅데이터와 딥러닝을 이용한 맞춤형 추천으로 당신의 선택을 도와드립니다." </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]basic-N8 -->
    <!-- [S]basic-N9 -->
    <div class="basic-N9" data-bid="aelY6UYWi9" id="">
      <div class="contents-inner">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">의.식.주 모두 도와드립니다.</h2>
            <p class="textset-desc">빅데이터와 AI를 활용하여 의식주 전반에 걸친 선택을 도와드립니다. 이를 통해 더 나은 의류, 식품, 주거 옵션을 제안하여 생활의 질을 높입니다. 이제 모든 선택이 더 쉽고 편리해집니다.</p>
          </div>
          <div class="contents-control">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
          <div class="swiper contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="cardset cardset-inner">
                  <figure class="cardset-figure"><img class="cardset-img" src="https://images.unsplash.com/photo-1651570822277-698061a510dc?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfHRvcGljfHx4alBSNGhsa0JHQXx8fHx8Mnx8MTcyMDA3NTA0OXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt=""></figure>
                  <div class="cardset-body">
                    <h2 class="cardset-tit">뭐 먹지</h2>
                    <p class="cardset-desc">빅데이터와 AI를 통해 개인의 취향과 주변 맛집 분석하여 최적의 식사 추천을 제공합니다. 이제 매일 고민 없이 다양한 메뉴를 즐길 수 있습니다.</p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cardset cardset-inner">
                  <figure class="cardset-figure"><img class="cardset-img" src="https://images.unsplash.com/photo-1606599135346-99b1db83add1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w0OTE2MDd8MHwxfHNlYXJjaHw4M3x8cGFzc2lvbnxrb3wwfHx8fDE3MjAwNzU3OTF8MA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt=""></figure>
                  <div class="cardset-body">
                    <h2 class="cardset-tit">뭐 입지</h2>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="cardset cardset-inner">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="contents-container">
          <div class="contents-bottom container-md">
            <div class="textset">
              <h2 class="textset-tit">Notice &amp; News</h2>
            </div>
            <div class="contents-cardset"><a href="javascript:void(0);" class="cardset cardset-inner cardset-hover cardset-border">
                <div class="cardset-cont">
                  <h2 class="cardset-tit">EasyPick 업데이트</h2>
                  <p class="cardset-desc">1. 무슨 기능이 추가되었습니다.</p><span class="cardset-txt">2024.07.04</span>
                </div>
              </a><a href="javascript:void(0);" class="cardset cardset-inner cardset-hover cardset-border">
                <div class="cardset-cont">
                  <h2 class="cardset-tit">EasyPick 고객수리함</h2>
                  <p class="cardset-desc">김동규 팬클럽을 개설해주세요</p><span class="cardset-txt">2024.07.04</span>
                </div>
              </a><a href="javascript:void(0);" class="cardset cardset-inner cardset-hover cardset-border">
                <div class="cardset-cont">
                  <h2 class="cardset-tit">EasyPick 공지사항</h2>
                  <p class="cardset-desc">안녕하세요 EasyPick입니다.</p><span class="cardset-txt">2024.07.04</span>
                </div>
              </a></div>
            <div class="contents-btn"><a style="text-align: center;" href="javascript:void(0);" class="btnset btnset-icon icon-left icon-more">더보기</a></div>
          </div>
        </div>
      </div>
    </div>
   
  </main>
 
  <footer class="basic-N4" data-bid="vPlY6uYwl2" id="">
    <div class="footer-inner">
      <div class="footer-container container-lg">
        <div class="footer-top">
          <h1 class="footer-logo">
          </h1>
          <ul class="footer-menulist">
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>이용약관</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>개인정보처리방침</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>KOSMO</span>
              </a>
            </li>
            <li class="footer-menuitem">
              <a href="javascript:void(0)">
                <span>HAHA</span>
              </a>
            </li>
          </ul>
          <ul class="footer-snslist">
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img th:src="@{icons/ico_instagram_lightgrey.svg}" alt="인스타그램">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img th:src="@{icons/ico_youtube_lightgrey.svg}" alt="유튜브">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img th:src="@{icons/ico_facebook_lightgrey.svg}" alt="페이스북">
              </a>
            </li>
            <li class="footer-snsitem">
              <a class="footer-snslink" href="javascript:void(0)">
                <img th:src="@{icons/ico_kakao_lightgrey.svg}" alt="카카오톡">
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <div class="footer-txt">
            <p> 서울시 금천구 가산동 한라원엔원 307호 </p>
            <p>
              <span>T. 070-8872-8874</span>
              <span>E. help@openfield.co.kr</span>
            </p>
          </div>
          <div class="footer-txt">
            <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- [E]basic-N4 -->
  <script th:src="@{/js/setting.js}"></script>
  <script th:src="@{/js/plugin.js}"></script>
  <script th:src="@{/js/template.js}"></script>
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/script.js}"></script>
  <script th:src="@{/js/login.js}"></script>
</body>
</html>
