<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/setting.css}">
    <link rel="stylesheet" th:href="@{/css/plugin.css}">
    <link rel="stylesheet" th:href="@{/css/template.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="basic-N1" data-bid="kNlY6uYvo7" id="">
        <div class="header-inner">
          <div class="header-container container-lg">
            <h1 class="header-title">
              <a href="/">
                <img th:src="@{/images/Logo.png}" alt="" style="width: 200px; height: 150px; margin-top: -55px;">
              </a>
            </h1>
            <div class="header-center">
              <div class="header-title header-mobile-top">
                <a href="javascript:void(0)">
                  <img th:src="@{/images/Logo.png}" alt="로고">
                </a>
              </div>
              <ul class="header-gnblist">
                <li class="header-gnbitem">
                    <a class="header-gnblink protected-feature" href="http://127.0.0.1:5000/eat">
                        <span>뭐먹지</span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink protected-feature" href="http://127.0.0.1:5000/wear">
                        <span>뭐입지</span>
                    </a>
                </li>
                <li class="header-gnbitem">
                    <a class="header-gnblink protected-feature" href="http://127.0.0.1:5000/watch">
                        <span>뭐볼까</span>
                    </a>
                </li>
                <li class="header-gnbitem item-active">
                    <a class="header-gnblink" href="javascript:void(0)">
                      <span>고객센터</span>
                    </a>
                </li>
            </ul>
            </div>
            <div class="header-right">
              <a class="header-gnblink" id="login-link" href="/members/login" style="display: none;">
                <span id="login_user_greeting">로그인/회원가입</span>
              </a>
              <a class="header-gnblink" id="logout-link" href="javascript:void(0)" onclick="toggleProfilePanel()" style="display: none;">
                <span id="logout_user_greeting">환영합니다, 사용자님</span>
              </a>
            </div>   
            </div>
          </div>
        </div>
        <!-- 프로필 패널 -->
        <div id="profile-panel"  class="profile-panel">
          <button class="edit-btn">내정보 조회</button>
          <button class="logout-btn" id="logout-button">로그아웃</button>
        </div>
        <div class="header-dim"></div>
      </header>
    <main class="th-layout-main">
        <div class="container-md">
            <h1>내 정보</h1>
            <div class="profile-info">
                <p><strong>이름:</strong> <span id="mname">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>닉네임:</strong> <span id="mnick">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>아이디:</strong> <span id="mid">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>생년월일:</strong> <span id="mbirth">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>전화번호:</strong> <span id="mhp">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>성별:</strong> <span id="mgender">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>우편번호:</strong> <span id="mzonecode">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>도로명 주소:</strong> <span id="mroad">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>상세 주소:</strong> <span id="mroaddetail">아직 설정되지 않은 정보입니다</span></p>
                <p><strong>지번 주소:</strong> <span id="mjibun">아직 설정되지 않은 정보입니다</span></p>
                <div class="button-container">
                    <button onclick="changeProfile()" class="btn btn-primary">내 정보 수정하기</button>
                    <button onclick="editProfile()">비밀번호 변경</button>
                    <button type="button" class="btn btn-deleteAsk btn-danger" id="deleteButton">회원 탈퇴</button>
                </div>
            </div>

                <!-- 회원 탈퇴 모달 -->
                <div id="deleteConfirmationModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">회원 탈퇴</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>정말 회원 탈퇴를 하시겠습니까?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="confirmDeleteButton">예</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">아니오</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 비밀번호 입력 모달 -->
                <div id="passwordInputModal" class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">비밀번호 확인</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>비밀번호를 입력해 주세요:</p>
                                <input type="password" id="passwordInput" class="form-control">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="confirmPasswordButton">확인</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="basic-N4" data-bid="vPlY6uYwl2" id="">
        <div class="footer-inner">
            <div class="footer-container container-lg">
                <div class="footer-top">
                    <h1 class="footer-logo">
                    </h1>
                    <ul class="footer-menulist">
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>이용약관</span>
                            </a>
                        </li>
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>개인정보처리방침</span>
                            </a>
                        </li>
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>KOSMO</span>
                            </a>
                        </li>
                        <li class="footer-menuitem">
                            <a href="javascript:void(0)">
                                <span>HAHA</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-snslist">
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img th:src="@{/icons/ico_instagram_lightgrey.svg}" alt="인스타그램">
                            </a>
                        </li>
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img th:src="@{/icons/ico_youtube_lightgrey.svg}" alt="유튜브">
                            </a>
                        </li>
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img th:src="@{/icons/ico_facebook_lightgrey.svg}" alt="페이스북">
                            </a>
                        </li>
                        <li class="footer-snsitem">
                            <a class="footer-snslink" href="javascript:void(0)">
                                <img th:src="@{/icons/ico_kakao_lightgrey.svg}" alt="카카오톡">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-bottom">
                    <div class="footer-txt">
                        <p>서울시 금천구 가산동 한라원엔원 307호</p>
                        <p>
                            <span>T. 070-8872-8874</span>
                            <span>E. help@openfield.co.kr</span>
                        </p>
                    </div>
                    <div class="footer-txt">
                        <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESERVED</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function() {
            // 세션에서 사용자 아이디 가져오기
            const loggedInUser = JSON.parse(sessionStorage.getItem('loggedInUser'));
            if (loggedInUser) {
                const username = loggedInUser.mid;
                // 사용자 정보 로드
                $.ajax({
                    url: `/api/members/${username}`,
                    type: 'GET',
                    success: function(data) {
                        $('#mname').text(validateInfo(data.mname));
                        $('#mnick').text(validateInfo(data.mnick));
                        $('#mid').text(validateInfo(data.mid));
                        $('#mbirth').text(validateInfo(data.mbirth));
                        $('#mhp').text(validateInfo(data.mhp));
                        $('#mgender').text(validateGender(data.mgender));
                        $('#mzonecode').text(validateInfo(data.mzonecode));
                        $('#mroad').text(validateInfo(data.mroad));
                        $('#mroaddetail').text(validateInfo(data.mroaddetail));
                        $('#mjibun').text(validateInfo(data.mjibun));
                    },
                    error: function(xhr) {
                        Swal.fire({
                            title: '정보를 불러오는데 실패했습니다.',
                            text: xhr.responseText,
                            icon: 'error'
                        });
                    }
                });
            } else {
                Swal.fire({
                    title: '로그인이 필요합니다.',
                    text: '로그인 페이지로 이동합니다.',
                    icon: 'warning'
                }).then(() => {
                    location.href = '/members/login';
                });
            }

            // 회원 탈퇴 버튼 클릭 이벤트
            $('#deleteButton').click(function() {
                $('#deleteConfirmationModal').modal('show');
            });

            // 탈퇴 확인 버튼 클릭 이벤트
            $('#confirmDeleteButton').click(function() {
                $('#deleteConfirmationModal').modal('hide');
                $('#passwordInputModal').modal('show');
            });

            // 비밀번호 확인 버튼 클릭 이벤트
            $('#confirmPasswordButton').click(function() {
                const password = $('#passwordInput').val();
                if (loggedInUser) {
                    $.ajax({
                        url: `/api/members/delete`,
                        type: 'POST',
                        data: JSON.stringify({
                            username: loggedInUser.mid,
                            password: password
                        }),
                        contentType: 'application/json',
                        success: function() {
                            Swal.fire({
                                title: '탈퇴 완료',
                                text: '탈퇴가 완료되었습니다. 홈 화면으로 이동합니다',
                                icon: 'success'
                            }).then(() => {
                                sessionStorage.removeItem('loggedInUser');
                                sessionStorage.removeItem('mnick');
                                location.href = '/';
                            });
                        },
                        error: function(xhr) {
                            Swal.fire({
                                title: '탈퇴 실패',
                                text: xhr.responseText,
                                icon: 'error'
                            });
                        }
                    });
                }
            });
        });

        function validateInfo(info) {
            return (info && info !== '000000' && !info.startsWith('default') && info !== '1900-01-01' && !info.startsWith('000')) ? info : '아직 설정되지 않은 정보입니다';
        }

        function validateGender(gender) {
            return (gender === "M") ? "남자" : (gender === "F") ? "여자" : '아직 설정되지 않은 정보입니다';
        }

        function editProfile() {
            location.href = '/members/edit';
        }

        function changeProfile(){
            location.href = '/members/change';
        }
    </script>
</body>
</html>
