<footer class="basic-N4" data-bid="vPlY6uYwl2" id="">
    <div class="footer-inner">
        <div class="footer-container container-lg">
            <div class="footer-top">
                <h1 class="footer-logo">
                    <!-- 로고가 필요한 경우 추가 -->
                </h1>
                <ul class="footer-menulist">
                    <li class="footer-menuitem">
                        <a href="javascript:void(0)">
                            <span>이용약관</span>
                        </a>
                    </li>
                    <li class="footer-menuitem">
                        <a href="javascript:void(0)">
                            <span>개인정보처리방침</span>
                        </a>
                    </li>
                    <li class="footer-menuitem">
                        <a href="javascript:void(0)">
                            <span>KOSMO</span>
                        </a>
                    </li>
                    <li class="footer-menuitem">
                        <a href="javascript:void(0)">
                            <span>HAHA</span>
                        </a>
                    </li>
                </ul>
                <ul class="footer-snslist">
                    <li class="footer-snsitem">
                        <a class="footer-snslink" href="javascript:void(0)">
                            <img src="{{ url_for('static', filename='icons/ico_instagram_lightgrey.svg') }}" alt="인스타그램">
                        </a>
                    </li>
                    <li class="footer-snsitem">
                        <a class="footer-snslink" href="javascript:void(0)">
                            <img src="{{ url_for('static', filename='icons/ico_youtube_lightgrey.svg') }}" alt="유튜브">
                        </a>
                    </li>
                    <li class="footer-snsitem">
                        <a class="footer-snslink" href="javascript:void(0)">
                            <img src="{{ url_for('static', filename='icons/ico_facebook_lightgrey.svg') }}" alt="페이스북">
                        </a>
                    </li>
                    <li class="footer-snsitem">
                        <a class="footer-snslink" href="javascript:void(0)">
                            <img src="{{ url_for('static', filename='icons/ico_kakao_lightgrey.svg') }}" alt="카카오톡">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-txt">
                    <p> 서울시 금천구 가산동 한라원엔원 307호 </p>
                    <p>
                        <span>T. 070-8872-8874</span>
                        <span>E. help@openfield.co.kr</span>
                    </p>
                </div>
                <div class="footer-txt">
                    <p>2022 BY TEMPLATEHOUSE. ALL RIGHTS RESERVED</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript 파일 링크 -->
<script src="{{ url_for('static', filename='js/setting.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
<script src="{{ url_for('static', filename='js/template.js') }}"></script>
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
